body {
    background-color: #fffdf6;
  }
  
  .navbar {
    background-color: #94bf46;
  }
  
  .navbar-dark .navbar-toggler-icon {
    background-color: #f1965c;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff; 
  }
  
  .navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #f1965c; 
  }
  
  .container {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #94bf46; 
  }
  
  p {
    color: #333; 
  }
  
